In [5]:
import pandas as pd

In [6]:
print("hi")

hi

In [15]:
students = [{"Ad":"Hasan","Soyad":"Bayram","Gmail":"hasan@gmail.com"}, {"Ad":"Yusuf","Soyad":"Kaya","Gmail":"yusuf@gmail.com"} ]

In [16]:
students

[{'Ad': 'Hasan', 'Soyad': 'Bayram', 'Gmail': 'hasan@gmail.com'},
 {'Ad': 'Yusuf', 'Soyad': 'Kaya', 'Gmail': 'yusuf@gmail.com'}]

In [17]:
df = pd.DataFrame(students)

In [19]:
df

      Ad   Soyad            Gmail
0  Hasan  Bayram  hasan@gmail.com
1  Yusuf    Kaya  yusuf@gmail.com

In [20]:
students = {
    "Ad":("Hasan","Mehmet","Ayşe"),
    "Soyad":("Bayram","Şimşek","Yılmaz")
}

In [21]:
students

{'Ad': ('Hasan', 'Mehmet', 'Ayşe'), 'Soyad': ('Bayram', 'Şimşek', 'Yılmaz')}

In [22]:
df = pd.DataFrame(students)

In [27]:
df

       Ad   Soyad
0   Hasan  Bayram
1  Mehmet  Şimşek
2    Ayşe  Yılmaz

In [29]:
df["Ad"]

0     Hasan
1    Mehmet
2      Ayşe
Name: Ad, dtype: object

In [32]:
type(df["Soyad"])

pandas.core.series.Series

In [33]:
df.Ad

0     Hasan
1    Mehmet
2      Ayşe
Name: Ad, dtype: object

In [37]:
df.columns

Index(['Ad', 'Soyad'], dtype='object')